<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="chromium" />	<!--chromium, chrome, edge, firefox, webkit-->
		<add key="timeout" value="30000" />
		<add key="headless" value ="false" />
		<add key="slowmo" value="250" />
		<add key="trace" value="true" />
		<add key="video" value="false" />
		<add key="baseurl" value="http://iTrainJVM/TS/"/>
	</appSettings>
</configuration>